<div class="collapse-item open">
  <h2 class="collapse-item-heading">How much does shipping cost?</h2>

  <div class="collapse-item-content">
    <div class="content-wrapper">
      <p>For customers within the USA, shipping is FREE! You’ll typically receive your order in 3 to 5 business days.</p>
      <p>If you need your order sooner, we can do that too:</p>
      <p>For 2 to 4-day shipping, it’s $15. </p>
      <p>For 2-day shipping, it’s $25.</p>
    </div>
  </div>
</div>

<div class="collapse-item">
  <h2 class="collapse-item-heading">Do you ship internationally?</h2>

  <div class="collapse-item-content">
    <div class="content-wrapper">
      <p>Yes, international shipping costs $27 and typically takes between 5 and 12 business days.</p>
    </div>
  </div>
</div>

<div class="collapse-item">
  <h2 class="collapse-item-heading">How does your 365-day "Test Drive" policy work?</h2>

  <div class="collapse-item-content">
    <div class="content-wrapper">
      <p>Wear your Carets around - yes, even outside! - to determine whether they’re right for you. You have 365 days to decide if you want to keep your new shoes or return them for a full refund. Read more about how it works <a href="https://caretsco.com/pages/returns-and-exchanges">here</a>.</p>
    </div>
  </div>
</div>

<div class="collapse-item">
  <h2 class="collapse-item-heading">What is your return policy?</h2>

  <div class="collapse-item-content">
    <div class="content-wrapper">
      <p>If you want to return your Carets within the 365-day period, just make sure the shoes are clean with no scuffs or irreparable damage. Send them back to us and you’ll receive a full refund! </p>
    </div>
  </div>
</div>
