<p>These are our most frequently asked questions from customers. If you don’t find the answer to your question listed below, please visit our <a href="#">full page of FAQs.</a></p>

<div class="collapse-item open">
  <h2 class="collapse-item-heading">How do I know what size I wear in Carets?</h2>

  <div class="collapse-item-content">
    <div class="content-wrapper">
      <p>Please visit our <a href="#">Sizing Guide</a> and follow the instructions listed there. If you still need help, just <a href="#">contact us</a> and we’d be happy to help you figure it out.</p>
    </div>
  </div>
</div>

<div class="collapse-item">
  <h2 class="collapse-item-heading">Do you carry half sizes?</h2>

  <div class="collapse-item-content">
    <div class="content-wrapper">
      <p>We do not offer half sizes at the moment. Only four customers (as of September 2019) in our company’s history have ever returned a shoe because they needed a perfect half size. If you need help deciding size, feel free to <a href="#">contact us</a>.</p>
    </div>
  </div>
</div>

<div class="collapse-item">
  <h2 class="collapse-item-heading">Do you carry shoes in Wide, Medium, or Narrow widths?</h2>

  <div class="collapse-item-content">
    <div class="content-wrapper">
      <p>All of our shoes are Wide width. Many customers who have Medium or even Narrow width feet find a comfortable fit with our shoes by sizing down. Visit our <a href="#">Sizing Guide</a> to figure out which size would work best for you.</p>
    </div>
  </div>
</div>

<div class="collapse-item">
  <h2 class="collapse-item-heading">What is the status of my pre-order?</h2>

  <div class="collapse-item-content">
    <div class="content-wrapper">
      <p>You can find the status of pre-orders by checking our latest post in <a href="#">News</a>.</p>
    </div>
  </div>
</div>
