<ul>
  <li>Care for your Carets by using a shoe cream that allows for conditioning, shine, and water resistance. We recommend Saphir Médaille D'Or Shoe Cream which is made from all natural ingredients.</li>

  <li>Use a shoe horn to slip on your shoes whenever possible.</li>

  <li>After wearing your Carets, properly store them by slipping your complimentary shoe trees inside to help maintain their shape.</li>

  <li>As with all leather, try to avoid water, mud, snow, and salt. If your Carets get dirty, clean them off as soon as possible.</li>

  <li>Be sure to rotate your Carets with other shoes, as even the nicest dress shoes can wear out from constant use.</li>

  <li>Despite their comfort, try to refrain from exercising in your Carets!</li>
</ul>
