// colors
$priColor: #2F2F2F;
$secColor: #CCA45C;
$lightGrayColor: #979797;
$lighterGrayColor: #CBCBCB;
$sapColor: #E0E0E0;
$lightenGray: #f2f2f2;


// font
$priFont: 'Lato', sans-serif;
$secFont: 'Playfair Display';
