<div class="container">
  {% include 'breadcrumbs' %}
  <div class="">
    <div class="">
      <div class="section-header text-center">
        <h1 class="page-title">{{ page.title }}</h1>
      </div>

      <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
          $('.grid').masonry({
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true
          });
          $( document ).ready(function() {
            setTimeout(
              function()
              {
                $(".size-tabs-content-item").addClass('displayNone');
              }, 1000);

            });
        });

      </script>

      <div class="rte static-page">
        <div class="size-tabs">
          <div class="size-tabs-header">
            <ul class="size-tabs-header-links">
              <span class="filter-header-title">Browse by type</span>
              <li class="links-item"> <a class="link active" rel="pain" href="#"> Pain </a> </li>
              <li class="links-item"> <a class="link" rel="Comfort" href="#"> Comfort </a> </li>
              <li class="links-item"> <a class="link" rel="customerService" href="#"> Customer Service </a> </li>
              <li class="links-item"> <a class="link" rel="BestMinimalistDressShoe" href="#"> Best Minimalist Dress Shoe </a> </li>
            </ul>
          </div>

          <div class="size-tabs-content">
            <div class="size-tabs-content-item show" id="pain">
              <div class="testimonial-wrapper">
                <div class="testimonial">
                  <div class="row grid">
                    <div class="grid-sizer col-xs-4"></div>
                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                        <figcaption class="testimonial-item-content">
                          <p>I was aware it was not going to be cheap importing these shoes to London, England but I'd heard such good reviews I thought I'd take the risk. I'm so pleased I did. By far the most comfortable work shoes I have ever worn. </p>

                          <p>Nobody at work has ever batted an eyelid as these look just as good as any other shoes I have warn in my job as a banker. </p>

                          <p>My circulation is a bit better and the knee pain I thought was a sign of my body breaking down completely vanished when I made to switch to barefoot shoes like these. Highly recommended.</p>

                        </figcaption>

                        <div class="customer-des">
                          <h4 class="name">Mark R</h4>
                          <div class="location"></div>
                        </div>
                      </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>Just got my pair about one week ago and I love them! I work in the hospitality industry and am on my feet most of the day always wearing a suit and dress shoes. I've had orthotics for over 20 years and always accepted that I had "bad feet". </p>
                            <p>I no longer wear orthotics and my feet feel great! These zero-drop dress shoes always have my feet in a comfortable position with no pain while working. </p>
                            <p>I've looked everywhere for zero drop dress shoes and Carets are truly the only brand that has zero drop dress shoes that actually look like dress shoes. Thank you for making such a wonderful product. It has truly changed my life. </p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Scott A </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>After developing arthritis in my feet in my 40s, I had to rethink my shoe choices. These were just what I needed! The zero drop aspect, combined with the bigger toe box and soft leather means no more pain. I wear these all week to my office job, and just love them. Exactly what I needed.</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Don </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>These are the best ‘formal’ shoes I have ever owned. I’ve been wearing minimalist shoes for the last 3 years. As my feet have widened and restored, I’ve dreaded putting on my expensive dress shoes for work or meetings. I often present for eight hours a day on the training floor and my feet scream for relief.</p>
                            <p>That relief has now come with Carets. On my first wear, I presented for 3 full days on my feet. The shoes are a dream - comfortable, wide, soft and almost as good as being barefoot (not an option in my job.</p>
                            <p>I’ve now boxed up all my Church’s and Crocket shoes with the intention of selling them to someone who enjoys the pain of bad design. You have a loyal customer for life.</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Mike W </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>I purchased a pair of FER Cap-Toe Oxfords at the end of 2017. I am so glad I did. Mountain, the owner, was beyond amazing emailing me promptly and lending me advice with any concerns or questions I had.</p>
                            <p>I wear them very very frequently, as they are my work shoes. I work in events and am on my feet for extremely long periods of time (8+ hours). I am grateful these shoes have started to undo many problems I have had wearing heeled dress shoes for so many years. It was an adjustment and painful at times while my calves and tendons adapted to their natural positions again. Now, I have much less pain after these extremely long shifts.</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Marcos from NY </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>Since the time I participated in high school sports, I have had knee and back pain. Any time I had to wear dress shoes, my joints would start killing me. As I started to make a transition from teacher to administrator and was looking for minimalist dress shoes, I happened to discover Carets.  </p>
                            <p>I quickly ordered a pair that arrived just before I started as an assistant principal, and provided all the comfort and benefits I had previously encountered wearing minimalist shoes. I am now a principal, and as long as I can keep a pair on hand I will never go back to wearing regular shoes. These shoes have been a lifesaver for my knees and back, and for my career!</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Patrick Peabody </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>At first I wasn't sure, I had never spent this much on a pair of shoes before. It is hard to jump in on strange concept, and relatively new company but I finally decided the potential benefits were worth it. </p>
                            <p>an was I right. My feet hurt everyday at work, just walking from parking lot to my desk, or my desk to the break room, even sneakers start to hurt after half a day. I need shoes that look the part working in a large corporation in Finance/Accounting and giving presentations and training's.</p>
                            <p>These are completely pain free.My only concern is if they stop making these, I will need to put in an order for a few dozen!</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Steve from Wisconsin </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>About a year ago I started being troubled by pain from osteoarthritis of the big toe joint (i.e., Hallux limitus / rigidus). </p>
                            <p>This meant I had to abandon my collection of beautiful but narrow-toed English formal shoes (which, no doubt, had played a role in causing the problem). I now needed shoes with a wide toe box, and room for orthotics to reduce pronation. Birkenstocks were comfortable for my toe, and were fine for casual wear, but with suits they looked silly and clown-like.    </p>
                            <p>The shoes are incredibly comfortable from the first wearing, and look great with suits. I can be on my feet all day in them, without any pain or stiffness in the toe joint. I’m more than happy with the purchase.</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Adam Dickerson </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="size-tabs-content-item" id="Comfort">
              <div class="testimonial-wrapper">
                <div class="testimonial">
                  <div class="row grid">
                    <div class="grid-sizer col-xs-4"></div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                        <figcaption class="testimonial-item-content">
                          <p>I am a physical therapist and on my feet most of the day. The first day I received them, I wore them for 9 hours straight at work. These shoes were comfortable right out of the box. My opinion is that they are an excellent investment for your health. Your foot is the base of your body and should be taken care off. The zero drop and wider toe box are perfect for my feet and my favorite part is the appearance of a heel that gives them a classy look. </p>

                        </figcaption>

                        <div class="customer-des">
                          <h4 class="name">Jordan Cardoza</h4>
                          <div class="location"></div>
                        </div>
                      </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>Frankly, I'm amazed. When they arrived they were incredibly comfortable, but I had not really tested them before leaving town. They are dress shoes after all - there's got to be some discomfort with any dress after you're on your feet for a while, right? Day of wedding I slip them on. First of all, they look great with a suit.</p>
                            <p>But here's the best part: I forgot all about them until I took them off that evening. I have never been so comfortable at a formal situation before.</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Chuck M </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>I was aware it was not going to be cheap importing these shoes to London, England but I'd heard such good reviews I thought I'd take the risk. I'm so pleased I did. These are by far the most comfortable work shoes I have ever worn, to the point where I would rather wear these than my barefoot trainers.</p>
                            <p>These look just as good as any other shoes I have worn in my job as a banker. The knee pain I had completely vanished when I made to switch to these shoes. Highly recommended.</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Mark R </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>The first time I put these shoes on my brain was trying to trick me telling me my feet were going to be uncomfortable like all normal hard soled dress shoes with the heel. But my feet were telling my brain was the complete opposite! My feet are comfortable and free to move! </p>
                            <p>The quality of the shoes are exceptional! I look forward to wearing my Carets for a long time to come! </p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Mark C </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>I really love these shoes. The look is great (I work in the State Capitol and need to look my best) and they are extra comfortable. If you're looking for a zero drop dress shoe, go no further.</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Keith B </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>Hands down the best pair of minimalist dress shoes on the market. Super comfortable out of the box and they even come with shoe trees, a very nice touch. I own both colors so far and will purchase future iterations. </p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Michael K </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>So far, my new black Carets cap-toe oxfords are exactly what I hoped they would be - super comfortable and a professional look.</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Christopher E </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>I love these shoes. I first bought a pair in black last year, and very recently bought a pair in oxblood. They are incredibly handsome, and very comfortable.</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Julia H </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>I'm very happy with these shoes. I ordered them for a friend's wedding they came in the mail quickly, fit great, look great and are extremely comfortable. Best dress shoes I've owned.</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Thomas M </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>These are great shoes! Maybe not quite as comfortable out of the box as Ra II, but far better looking. Also, the customer service is out of this world. Cool lacing pattern, too. This is a top-notch company! </p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Daniel O </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="size-tabs-content-item" id="customerService">
              <div class="testimonial-wrapper">
                <div class="testimonial">
                  <div class="row grid">
                    <div class="grid-sizer col-xs-4"></div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                        <figcaption class="testimonial-item-content">
                          <p>Just wanted to give you a positive update...After several weeks of wear, I’ve discarded my other dress shoes in favor of my daily worn Carets! </p>
                          <p>I was originally hesitant purchasing shoes without being able to actually try them on in a storefront; and I’ve never paid that much for a pair of shoes, ever. The fact that I purchased two pair speaks volumes.</p>
                        </figcaption>

                        <div class="customer-des">
                          <h4 class="name">JF</h4>
                          <div class="location"></div>
                        </div>
                      </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>I am completely satisfied and then some. I have a standing desk at work, and many of my traditional dress shoes develop pressure points toward the end of the day. With my Carets shoes, I'm comfortable all day.</p>
                            <p>I also had a very good customer service experience with the owner, Mountain, who emailed me personally and addressed several of my questions up front. I'm very happy to have found this company and these shoes.</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Daniel Zimmerman </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>The customer service with the company is fantastic. Mountain Chang, the founder, returned my emails within a few minutes. The shoes, both black and oxblood, shine up like new with the recommended polish on the website. I receive almost daily compliments on these shoes. I recommend these for anyone and everyone! Thank you for creating such a great shoe!!</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Dr. Tyler Steward </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>These shoes are well worth the investment. It breathes very well too (I live in a very hot & humid climate) and good ventilation is really important to me. Very comfortable as well and excellent customer service. Recommend these to anyone.</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Michael K </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>I did quite a bit of research over a period of months, looking for a potential minimalist dress shoe. Even though I own other types of shoes from brands that make minimalist dress shoes, I kept coming back to Carets, because they were the only one that actually looked like a dress shoe. The design is genius.</p>

                            <p>My order experience was smooth. Customer service was fantastic and I received direct email responses that helped me decide on sizing. When I picked the wrong size the first time, it wasn't a problem, because I was able to ship a size down in the mean time. The break-in period took only 2-3 wears. I experienced a little discomfort around the sides, so I used molefoam to prevent blistering. I recommend the free heel padding Carets provides, as I settled on having them in every day.<p>

                            <p>I recently moved from a manufacturing environment (safety boots with a heel), so I had some foot pain issues I was looking forward to fixing. I wear these almost every day with business casual to the office (slacks/chinos/dress shirts). My only complaint don't have a second pair yet to take turns. I've come home from work multiple times and forgotten to take them off because they're like wearing slippers. I love the zero drop and the toe room.</p>

                            <p>You have a repeat customer. I'm looking forward to the dress boots! Also hoping to see a tan/brown color again. Keep doing what you're doing! </p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Jeremiah Miller </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>These shoes are exactly what I was looking for: simple, quality, and practical. I ended up with more than just shoes; I received some of the best customer service ever experienced. I'm now buying the same pair in black as I can't imagine ever using another shoe. </p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Eduardo V </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>Excellent. I really couldn't have asked for a better experience. </p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Christopher E </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="size-tabs-content-item" id="BestMinimalistDressShoe">
              <div class="testimonial-wrapper">
                <div class="testimonial">
                  <div class="row grid">
                    <div class="grid-sizer col-xs-4"></div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                        <figcaption class="testimonial-item-content">
                          <p>Hands down the best pair of minimalist dress shoes on the market. Super comfortable out of the box and they even come with shoe trees, a very nice touch. I own both colors so far and will purchase future iterations. </p>
                        </figcaption>

                        <div class="customer-des">
                          <h4 class="name">Michael K</h4>
                          <div class="location"></div>
                        </div>
                      </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>I did quite a bit of research over a period of months, looking for a potential minimalist dress shoe. Even though I own other types of shoes from brands that make minimalist dress shoes, I kept coming back to Carets, because they were the only one that actually looked like a dress shoe. The design is genius.</p>
                            <p>My order experience was smooth. Customer service was fantastic and I received direct email responses that helped me decide on sizing. When I picked the wrong size the first time, it wasn't a problem, because I was able to ship a size down in the mean time. The break-in period took only 2-3 wears. I experienced a little discomfort around the sides, so I used molefoam to prevent blistering. I recommend the free heel padding Carets provides, as I settled on having them in every day.</p>
                            <p>I recently moved from a manufacturing environment (safety boots with a heel), so I had some foot pain issues I was looking forward to fixing. I wear these almost every day with business casual to the office (slacks/chinos/dress shirts). My only complaint don't have a second pair yet to take turns. I've come home from work multiple times and forgotten to take them off because they're like wearing slippers. I love the zero drop and the toe room.</p>
                            <p>You have a repeat customer. I'm looking forward to the dress boots! Also hoping to see a tan/brown color again. Keep doing what you're doing! </p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Jeremiah Miller </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>I wear the FER V.4 with a suit in a formal work setting. With their refined styling, my FERs fit right in with the conventional footwear worn by my colleagues. In fact, having extensively surveyed the options, Carets are the only minimalist dress shoes I would feel comfortable wearing with a suit in a business setting.</p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Brian J  </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>I have been following this adventure from Mountain for a few years now and finally was able to take the plunge a the other month, and I couldn't be happier!</p>
                            <p>As a barefoot / minimalist shoe devotee, I have worn and tried many different brands and types over the years, and while I have found multiple casual and active minimalist footwear that is fantastic (especially Lem's) - this is the first and only pair of real minimalist dress shoes that are the real deal and have everything:</p>
                            <p>
                              1. Look incredible. <br>
                              2. Feel even better.<br>
                              3. Have incredible quality.<br>

                            </p>

                            <p>I am back on the site to buy another pair in a different color and style - they are that amazing.</p>
                            <p>I have found my “forever” dress shoe.</p>
                            <p>Another point that must come into play, since these shoes are very much a labor of love - the service was outstanding. I had one of those sudden life events popup and needed a pair of dress shoes ASAP. I knew I wanted a pair of Zetones and really didn't want to have to bite the bullet on a subpar stand-in due to my own timeframe of needing them and luckily with the help of the amazing team at Carets they really made it happen. (Thanks again for that!)</p>
                            <p>Keep up the great work and if anyone is on the fence - do your feet, spine and wardrobe a favor and get a pair (or two)! </p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> Chris Adams </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 grid-item">
                      <div class="testimonial-item-wrapper">
                        <div class="testimonial-item">
                          <figcaption class="testimonial-item-content">
                            <p>I've been looking for a minimalist dress shoe for a long time. I first found the vivobarefoot lisbon, and to be honest I loved it so much I bought  second pair. It didn't bother me much that it looked a little short and wide because it was comfortable. After wearing it for a while (I wear dress shoes almost daily due to my work), I found that they were just not as durable as I had hoped.</p>
                            <p>Enter Carets - found the website, loved the look, reviews were good so I gave up $350 and honestly...money well spent! Not only do they look and feel good, they have maintained their look for longer than the Lisbons. Also, Mountain has been so generous and straightforward with his communication - Carets is not a company that just views me as another sale. Mountain actually listens and seeks to deliver. Now I'm just waiting for more shoe options… </p>
                          </figcaption>

                          <div class="customer-des">
                            <h4 class="name"> David </h4>
                            <div class="location"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
